/* New-Chapters*/
.new-chapters {
    padding-top: 84px;
    padding-bottom: 32px;
}


.chapters-header {
    max-width: 1330px;
    margin: auto;
}

.chapters-header .filter {
    margin-top: 13px;
}

@media (max-width: 767px) {
    .chapters-header .filter {
        display: none;
    }
}


.filter {

}

.filter__list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 6px;
}

.filter__item {
    display: inline-block;
    vertical-align: top;
    min-width: 80px;
    padding: 10px 16px;
    background-color: transparent;
    border: none;
    box-shadow: inset 0 0 0 1px #808080;
    border-radius: 10px;
    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: all var(--transition-short);
}

.filter__item:hover,
.filter__item:active,
.filter__item--selected,
.filter__item--selected:hover,
.filter__item--selected:active {
    background-color: #019EFF;
    box-shadow: inset 0 0 0 1px transparent;
}

.filter__reset {
    display: inline-block;
    vertical-align: top;
    min-width: 80px;
    padding: 10px 16px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: all var(--transition-short);
}

.filter__reset:hover {
    color: #808080;
}

.filter__reset:disabled {
    color: #808080;
    cursor: default;
}

@media (min-width: 1024px) {

    .filter {
        position: relative;
        padding-right: 100px;
    }

    .filter__list {
        max-width: 840px; /* Переносим "Мэд Робот" на вторую строку */
    }

    .filter__reset {
        position: absolute; /* Относительно .filter, а не .filter__list */
        right: -16px;
        top: 0;
    }
}


.new-item-chapters-wrapper {
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1330px;
    margin: 32px auto 0 auto;
}

.new-item-chapter {
    border-radius: 25px;
    position: relative;
    padding-top: 100%;
    height: min-content;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all var(--transition-short);
    cursor: pointer;
}

.new-item-chapter.in-progress {
    pointer-events: none;
}

.new-item-chapter.presale {
    pointer-events: none;
}

.new-item-chapter.no-timeline {
    pointer-events: none;
}

.in-progress .lessons-icon,
.in-progress .time-icon {
    display: none !important;
}

.new-item-chapter.text-white {
    color: #fff;
}

.new-item-chapter.text-black {
    color: #000;
}

.new-item-chapter .item-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .new-item-chapter .bl-8:before {
	content: '';
	display: flex;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 100px;
	height: 100px;
	background: red 0% 0% no-repeat padding-box;
	border-radius: 50%;
}

.new-item-chapter .bl-8:after {
	content: 'Скидка 10 000 ₽';
	display: flex;
	position: absolute;
	top: 25px;
	right: 25px;
	max-width: 70px;
	height: 70px;
	align-items: center;
	text-align: center;
} */


.icon-text {
    line-height: 1;
    margin-top: 0px;
}

.time-icon, .lessons-icon {
    display: flex;
    align-items: center;
}

.lessons-icon::before {
    content: '';
    -webkit-mask: url(/media/images/icons/video.svg) no-repeat center;
    mask: url(/media/images/icons/video.svg) no-repeat center;
    background-color: #000;
    height: 12px;
    width: 14px;
    margin-right: 5px;
    box-sizing: border-box;
}

.time-icon::before {
    content: '';
    -webkit-mask: url(/media/images/icons/time.svg) no-repeat center;
    mask: url(/media/images/icons/time.svg) no-repeat center;
    width: 12px;
    height: 12px;
    background-color: #000;
    margin-right: 5px;
    box-sizing: border-box;
}

.text-white .time-icon::before, .text-white .lessons-icon::before {
    background-color: #fff;
}

.new-item-chapter .info-wrapper {
    padding: 31px 20px 0px 20px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.new-item-chapter .info-wrapper > div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    padding-right: 12px;
    font-size: 13px;
    line-height: 1;
}

.new-item-chapter .info-wrapper .presale-title {
    display: none;
}

.new-item-chapter .info-wrapper .pretitle {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.39px;
    line-height: 1;
    margin-top: 2px;
}

.new-item-chapter .title {
    padding: 5px 20px 0px 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.info-wrapper .presale-title {
    display: none;
}

.presale .info-wrapper .pretitle {
    display: none;
}

.presale .info-wrapper .lessons-icon {
    display: none;
}

.presale .info-wrapper .time-icon {
    display: none;
}

.presale .info-wrapper .presale-title {
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.03rem;
}

.chapter-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    will-change: transform; /*Чтобы не резало углы в ios*/
    border-radius: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chapter-cover img,
.chapter-cover video {
    width: 100%;
    height: 100%;
    background-color: #363636;
    transition: all var(--transition-short);
}

.price-wrapper {
    padding: 0px 20px 24px 20px;
}

.price-wrapper .title {
    padding: 0;
    font-size: 17px;
    line-height: 1;
    font-weight: 500;
}

.price-wrapper .post-title {
    padding: 0;
    font-size: 12px;
    line-height: 1;
    font-weight: 500;
    opacity: 0.75;
}

.chapters-btn {
    padding: 0px 22px 22px 22px;
}

.chapters-btn .btn {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03rem;

    height: 48px;
    background: #383838;
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
    transition: all var(--transition-short);
}

.chapters-btn .btn:hover {
    background-color: #0000;
    outline: 1px solid #fff;
    transition: all var(--transition-short);
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .new-item-chapters-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {

    .new-item-chapter:hover .chapter-cover video,
    .new-item-chapter:hover .chapter-cover img {
        transform: scale(1.10062);
        transition: all var(--transition-short);
    }
}

@media (max-width: 1023px) {

    .new-item-chapters-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .new-chapters {
        padding-top: 64px;
        padding-bottom: 32px;
    }

    .chapter-cover {
        border-radius: 25px;
    }
}

@media (max-width: 767px) {

    .new-item-chapters-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .new-chapters {
        padding-top: 84px;
        padding-bottom: 24px;
    }

    .new-item-chapters-wrapper {
        padding: 0;
    }
}

@media (max-width: 549px) {

    .new-item-chapters-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .new-chapters {
        padding-top: 84px;
        padding-bottom: 24px;
    }
}




/* Курс (развёрнутое модальное окно) */

.icon::before{
    content: '';
    display: flex;
    width: 32px;
    height: 32px;
}
.blender-icon::before{
    -webkit-mask: url(../media/images/icons/blender.svg) no-repeat 50% 50%;
    mask: url(../media/images/icons/blender.svg) no-repeat 50% 50%;
    background-color: #808080;
}
.ps-icon::before{
    content: url(../media/images/icons/ps-icon.svg);
    /* -webkit-mask: url(../media/images/icons/ps-icon.svg) no-repeat 50% 50%;
    mask: url(../media/images/icons/ps-icon.svg) no-repeat 50% 50%; */
}
.ae-icon::before{
    content: url(../media/images/icons/ae-icon.svg);
    /* -webkit-mask: url(../media/images/icons/ps-icon.svg) no-repeat 50% 50%;
    mask: url(../media/images/icons/ps-icon.svg) no-repeat 50% 50%; */
}
.ai-icon::before{
    content: url(../media/images/icons/ai-icon.svg);
    /* -webkit-mask: url(../media/images/icons/ps-icon.svg) no-repeat 50% 50%;
    mask: url(../media/images/icons/ps-icon.svg) no-repeat 50% 50%; */
}
.pt-icon::before{
    content: url(../media/images/icons/pt-icon.svg);
    /* -webkit-mask: url(../media/images/icons/ps-icon.svg) no-repeat 50% 50%;
    mask: url(../media/images/icons/ps-icon.svg) no-repeat 50% 50%; */
}
.pr-icon::before{
    content: url(../media/images/icons/pr-icon.svg);
    /* -webkit-mask: url(../media/images/icons/ps-icon.svg) no-repeat 50% 50%;
    mask: url(../media/images/icons/ps-icon.svg) no-repeat 50% 50%; */
}
.close-icon::before{
    -webkit-mask: url(../media/images/icons/close-icon.svg) no-repeat 50% 50%;
    mask: url(../media/images/icons/close-icon.svg) no-repeat 50% 50%;
    background-color: #fff;
    width: 16px;
    height: 16px;
}

.course-wrapper{
    max-width: 1014px;
    background-color: #1D1D1D;
    border-radius: 45px;
    margin: 56px auto;
}

.course-cover{
 margin-bottom: 32px;
 position: relative;
}

.course-cover img,
.course-cover video
{
    width:100%;
    max-height: 483px;
    padding:2px;
    background-image: var(--image-fallback);
    border-radius: 44px;
    object-fit: cover;
    box-sizing: border-box;
}

.course-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:888px;
    margin:0 auto;
}

.course-short-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;

    background-color: #282828;
    width:100%;
    height: 72px;
    border-radius: 22px;
    margin-bottom: 64px;
    padding:16px 24px;

    font-weight: 400;
}

.short-info-item{
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1.3 1 auto;
}

.short-info-item .title{
    font-size: 16px;
    line-height: 24px;
}

.short-info-item .description{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #808080;
}

.short-info-item.icons-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.short-info-item.icons-wrapper>div:not(:last-child){
    margin-right: 12px;
}

.short-info-item:not(:first-child){
    border-left: 1px solid #393939;
}



.course-additional-info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 86px;

    width: 100%;
}

.course-description{
    width:65%;
}

.course-description a{
    color: #e6e6e6!important;
}
.course-description p{
    margin-top: 18px;
    margin-bottom: 0;
}
.course-description .title{
    font-size:40px;
    line-height: 42px;
    margin-bottom: 20px;
}

.course-description .title br{
    display: none;
}

.course-description .description{
    font-size:20px;
    line-height: 28px;
    color:#E6E6E6;
    font-weight: 400;
}

.course-inside-info{
    width:100%;
    margin-bottom: 64px;
}

.teacher-item{
    display: flex;
}

.teacher-item:not(:last-child){
    margin-bottom: 16px;
}

.teacher-item img{
    width: 40px;
    height: 40px;
    background-color: var(--image-fallback);
    border-radius: 12px;
    margin-right: 12px;
}

.teacher-item .teacher-info {
    display: flex;
    align-self: center;
}

.teacher-item .title{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.teacher-item .description{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #808080;
}

.inside-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 40px;
}

.inside-item-content {
    display: flex;
    flex-direction: column;
    max-width: 409px;
}

.inside-item-content .title {
    font-size:26px;
    line-height: 32px;
    margin-bottom: 8px;
}

.inside-item-content .description {
    font-size:16px;
    line-height: 24px;
    margin-bottom: 12px;
    color:#E6E6E6;
}

.inside-item-img {
    display: flex;
    width:35%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border-radius: 56px;
    will-change: transform; /*Нужно чтобы в ios не резало углы*/
}

.inside-item-img img {
    border-radius: 56px;
    width: 100%;
    height: 208px;
    object-fit: cover;
}
.inside-item-img video {
    width: 100%;
    height: 208px;
    background-color: var(--image-fallback);
    object-fit: cover;
}

.inside-item-img.scale video {
    transform: scale(1.25);
}

.inside-item-img.no-scale video {
    transform: scale(1.0);
}

.tags-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#808080;
    font-size: 14px;
    line-height: 20px;
    border:1px solid #505050;
    border-radius: 50px;
    width: fit-content;
    padding: 7px 17px;
    margin:5px 10px 5px 0px;
    white-space: nowrap;

}

.btn-wrapper {
    width: 100%;
    margin-bottom: 64px;
}

.btn{
    cursor: pointer;
}

.return-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    height: 46px;
    width: 100%;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.03rem;
    margin-top: 8px;

    background-color: transparent;
    color:#7d7d7d;
    transition: all var(--transition-default);
    cursor: pointer;
}

.return-btn:hover{
   color:#fff;
   transition: all var(--transition-default);
}

.buy-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    height: 46px;
    width: 100%;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.03rem;

    background-color: #019EFF;
    border: 1px solid #019EFF;
    border-radius: 12px;
    transition: all var(--transition-short);

    cursor: pointer;
}

.buy-btn:hover{
    border: 1px solid #fff;
    transition: all var(--transition-short);
    background-color: #0000;
}

.buy-btn::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    -webkit-mask: url(../media/images/icons/plus-icon.svg) no-repeat 50% 50%;
    mask: url(../media/images/icons/plus-icon.svg) no-repeat 50% 50%;
    background-color: #fff;
    margin-right: 8px;
    margin-top: 1px;
}

.buy-btn::after {
    content: 'Добавить в корзину';
    font-size:12px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.03rem;
    margin-top: 2px;
}

.buy-btn.active {
    background-color: #0000;
    border: 1px solid #fff;
    transition: all var(--transition-short);
}
.buy-btn.active::before {
    -webkit-mask: url(../media/images/icons/check-icon.svg) no-repeat 50% 50%;
    mask: url(../media/images/icons/check-icon.svg) no-repeat 50% 50%;
}
.buy-btn.active::after {
    content: 'Добавлен в корзину';
}



.sale-modal-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}
.sale-modal-content{
    background-color: #1D1D1D;
    background: no-repeat url("../media/images/modal/BGgrid.png");
    background-size: cover;
    border-radius: 30px;
    width: 680px;
    height: 250px;
    padding: 25px 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
 .sale-modal-wrapper .pretitle{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.3;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1000;
}
.sale-modal-wrapper .title{
    font-size: 30px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 15px;
    z-index: 1000;
}
.sale-modal-wrapper .description{
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 405px;
    z-index: 1000;
}
.sale-modal-wrapper .btn{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 46px;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.03rem;
    background-color: #019EFF;
    border: 1px solid #019EFF;
    border-radius: 12px;
    transition: all var(--transition-short);
    cursor: pointer;
    z-index: 1000;
}
.sale-modal-wrapper .btn.active, .sale-modal-wrapper .btn:hover{
    border: 1px solid #fff;
    transition: all var(--transition-short);
    background-color: #0000;
}
.sale-modal-wrapper .btn::before{
    content: "забрать место";
    position: relative;
    top: 1px;
}
.sale-modal-wrapper .btn.active::before{
    content: "получено";
}
#sale-modal-img{
    position: absolute;
    right: -4.1%;
    bottom: 8%;
    z-index: 100;
}
#video-modal-sale{
    position: absolute;
    width: 100%;
    left: 0;
    top:0;
    z-index: 10;
    height: 100%;
    object-fit: cover;
}
.through{
    text-decoration: line-through;
}
@media (min-width: 1024px) {
    .course-description{
        padding-right: 40px;
        box-sizing: border-box;
    }
}
@media (max-width: 1023px) {
    .course-wrapper {
        margin:0 auto;
        border-radius: 0px;
    }

    .course-cover {
        margin-bottom: 30px;
    }

    .course-cover img,
    .course-cover video {
        border-radius: 0 0 44px 44px;
        min-height: 485px;
        max-height: 610px;
        padding: 0;
    }

    .course-content {
        max-width: 100%;
        padding: 0 48px;
    }

    .course-short-info {
        margin-bottom: 56px;
    }

    .course-additional-info {
        flex-direction: column;
    }

    .course-additional-info .course-description {
        width: 100%;
        margin-bottom: 28px;
    }

    .teachers-wrapper {
        display: flex;
        flex-direction: row;
    }

    .teacher-item {
        margin-right: 40px;
    }

    .inside-item-content{
        max-width: 50%;
        width: max-content;
        margin-right: 20px;
    }

    .inside-item-img{
        max-width: 50%;
        width: max-content;
        margin-left: 20px;
    }

    .tags-wrapper{
        flex-wrap: wrap;
    }

    .show-xxl{
        display: none;
    }
}
@media (max-width: 939px) {
    #sale-modal-img{
        right: -2%;
    }
    #video-modal-sale{
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 819px) {
    /* .sale-modal-wrapper{
        align-items: flex-end;
    } */
    /* .sale-modal-content{
        border-radius: 30px 30px 0px 0px;
    } */
    #sale-modal-img{
        right: -15%;
    }
}
@media (max-width: 767px) {
    .sale-modal-wrapper .title{
        font-size:28px;
        line-height: 32px;
    }
    .sale-modal-content .title br{
        display: none;
    }
    .sale-modal-content{
        height: fit-content;
        padding:18px 28px;
    }
    .course-content br{
        display: none;
    }

    .course-wrapper {
        margin:0 auto;
        border-radius: 0px;
    }

    .course-cover {
        margin-bottom: 12px;
    }

    .course-cover img,
    .course-cover video {
        border-radius: 0 0 44px 44px;
        min-height: 300px;
        max-height: 450px;
    }

    .course-short-info{
        margin-bottom: 36px;
    }

    .course-content {
        max-width: 100%;
        padding: 0 12px;
    }

    .course-additional-info,
    .course-inside-info,
    .btn-wrapper
    {
        box-sizing: border-box;
        padding: 0 12px;
    }
    .course-short-info .icons-wrapper {
        display: none;
    }

    .course-additional-info {
        flex-direction: column;
        margin-bottom: 76px;
    }

    .course-additional-info .course-description {
        width: 100%;
        margin-bottom: 36px;
    }

    .teachers-wrapper {
        display: flex;
        flex-direction: column;
    }

    .course-description .title {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 16px;
    }

    .course-description .description {
        font-size: 18px;
        line-height: 26px;
    }

    .show-xxl {
        display: none;
    }

    .inside-item {
        flex-direction: column-reverse;
    }

    .inside-item-content {
        max-width: 100%;
        margin-right: 0px;
        box-sizing: border-box;
        padding: 0 16px;
    }

    .inside-item-content .title {
        font-size: 20px;
        line-height: 24px;
    }

    .inside-item-content .description {
        font-size: 14px;
        line-height: 20px;
    }

    .inside-item-img{
        width: 100%;
        max-width: 100%;
        margin-left: 0px;
        margin-bottom: 24px;
    }

    .inside-item-img img {
        height: auto;
        min-height: 184px;
        max-height: max-content;
    }

    .inside-item-img video {
        height: auto;
        min-height: 184px;
        max-height: max-content;
    }

    .tags-wrapper {
        flex-wrap: nowrap;
        overflow: overlay;
        transform: translateX(-40px);
        width: 100vw;
    }

    .tag:first-child{
        margin-left: 40px;
    }

    .tag{
        margin: 0px 10px 0px 0px;
    }

}

@media (max-width: 749px) {
    #sale-modal-img, #video-modal-sale{
        display: none;
    }
}

@media (max-width: 679px) {
    .sale-modal-wrapper{
        align-items: flex-end;
    }
    .sale-modal-content{
        border-radius: 30px 30px 0px 0px;
        /* height: 300px; */
    }
    #sale-modal .description{
        margin-bottom: 40px;
    }
    #sale-modal .title{
        font-size: 28px;
        line-height: 36px;
    }
}



/* i-modal */

.i-modal {
    position: fixed;
    display: none;
    z-index: 1000;
    overflow-y: auto;
    overflow-y: overlay;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(10px); */
}

.close-i-modal-btn-wrapper {
    display: flex;
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 10px;
    z-index: 1000;
    cursor: pointer;
}

.close-i-modal-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: rgba(62, 62, 62, 0.6);
    border-radius: 12px;
    z-index: 100;
    pointer-events: none;
}

@media (max-width: 1023px) {

    .close-i-modal-btn-wrapper {
        top: 22px;
        right: 22px;
    }
}

@media (max-width: 767px) {


    .close-i-modal-btn-wrapper {
        top: 6px;
        right: 6px;
    }
}


/* button_fixed */

.button_fixed {
    z-index: 11;
    position: fixed;
    right: 16px;
    left: 16px;
    bottom: 16px;
    margin-bottom: 0;
    transition: all var(--transition-default) ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.button_fixed--visible {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 1023px) {
    .button_fixed {
        right: 48px;
        left: 48px;
    }
}

@media (max-width: 767px) {
    .button_fixed {
        right: 24px;
        left: 24px;
    }
}



/* cookie */

.cookie {
    position: fixed;
    display: flex;
    z-index: 15;
    left: 50%;
    margin-left: -627px;
    bottom: 32px;
    max-width: calc(100% - 6 * var(--container-padding));
    background-color: #282828;
    border-radius: 20px;
    align-items: center;
    padding: 16px 24px;
}

@media (max-width: 1439px) {
    .cookie {
        margin-left: 0;
        left: calc(2 * var(--container-padding));
    }
}

.cookie--hidden {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s var(--transition-default), opacity var(--transition-default);
}

.cookie--visible {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transition-default);
}

    .cookie .text {
        margin-right: 70px;
        margin-left: 10px;
        max-width: 500px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
        .cookie a {
            text-decoration: underline;
            color: inherit;
            transition: var(--transition-default);
        }

        .cookie a:hover {
            color: #ffcc6b;
        }

        .cookie .button {
            font-weight: 700;
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
        }



@media (max-width: 767px) {

    .cookie {
        display: block;
        max-width: none;
        padding: var(--container-padding);
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0;
    }

    .cookie .text {
        margin-bottom: 16px;
        margin-left: 0;
        margin-right: 0;
    }

    .cookie br {
        display: none;
    }
}

