@font-face {
    font-family: "Onest";
    src: url("../fonts/Onest/WOFF/Onest-Regular.woff") format("woff"),
    url("../fonts/Onest/TTF/Onest-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Onest";
    src: url("../fonts/Onest/WOFF/Onest-Medium.woff") format("woff"),
    url("../fonts/Onest/TTF/Onest-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Onest";
    src: url("../fonts/Onest/WOFF/Onest-Bold.woff") format("woff"),
    url("../fonts/Onest/TTF/Onest-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



:root {
    --transition-short: 0.2s;
    --transition-default: 0.3s;
    --transition-long: 0.4s;
    --container-padding: 48px;
    --image-fallback: #363636;
}

@media (max-width: 1375px) {
    :root {
        --container-padding: 24px;
    }
}



html {
    color-scheme: dark;
}

body {
    overflow-x: hidden; /* Обрезаем карусели */
    background-color: #101010;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    counter-reset: block;
    min-width: 320px;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Onest", sans-serif;
}



p {
    font-variant-ligatures: no-common-ligatures;
    -moz-font-feature-settings: "liga" 0, "clig" 0;
    -webkit-font-feature-settings: "liga" 0, "clig" 0;
    font-feature-settings: "liga" 0, "clig" 0;
}

img {
    display: block;
}


.scroll-lock {
    overflow-y: hidden;
}


.container {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}


.hide-scrollbar {
    scrollbar-width: none; /* hide scrollbar in Firefox */
    -ms-overflow-style: none; /* hide scrollbar in Edge */
}

.hide-scrollbar::-webkit-scrollbar { /* hide scrollbar in webkit based browsers */
    display: none;
}


.yellow-text {
    color: #ffcc6b;
}


.no-margin-right {
    margin-right: 0px;
}

.hidden {
    display: none;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.highlight-text {
    color: #ffcc6b;
}

.underlined {
    border-bottom: 1px solid;
}


.carousel-cutter {
    overflow: hidden;
}
